[submodule "sml-lcf"]
	path = lib/sml-lcf
	url = https://github.com/jonsterling/sml-lcf.git
[submodule "lib/cmlib"]
	path = lib/cmlib
	url = https://github.com/standardml/cmlib.git
[submodule "lib/sml-abt"]
	path = lib/sml-abt
	url = https://github.com/jonsterling/sml-abt.git
[submodule "lib/sml-parcom-wrapper"]
	path = lib/sml-parcom-wrapper
	url = https://github.com/jonsterling/sml-parcom-wrapper.git
  ignore = untracked
[submodule "lib/sml-abt-parser"]
	path = lib/sml-abt-parser
	url = https://github.com/jonsterling/sml-abt-parser.git
[submodule "lib/sml-unparse"]
	path = lib/sml-unparse
	url = https://github.com/jonsterling/sml-unparse.git
[submodule "sml-abt-unify"]
	path = lib/sml-abt-unify
	url = https://github.com/jozefg/sml-abt-unify.git
[submodule "lib/sml-open-abt"]
	path = lib/sml-open-abt
	url = https://github.com/jonsterling/sml-open-abt.git
[submodule "lib/sml-open-ended"]
	path = lib/sml-open-ended
	url = https://github.com/jonsterling/sml-open-ended.git
