[submodule "sml-lcf"]
	path = lib/sml-lcf
	url = https://github.com/jonsterling/sml-lcf.git
[submodule "lib/cmlib"]
	path = lib/cmlib
	url = https://github.com/standardml/cmlib.git
[submodule "lib/parcom"]
	path = lib/parcom
	url = https://github.com/standardml/parcom.git
  ignore = untracked
[submodule "lib/sml-abt"]
	path = lib/sml-abt
	url = https://github.com/jonsterling/sml-abt.git
